<html>
<head>
    <link href="/static/bootstrap.min.css" rel="stylesheet" >
</head>

{% block body %}
<body class="body">
	  <div class="container">
        <h1>{{ list_header }}</h1>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Camera Name</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
            {% for cam in cams %}
              <tr>
                <th scope="row">{{ cam.name }}</th>
                <td>{{ cam.hasStarted() }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
	  </div>
</body>
{% endblock %}

</html>